body {
  background-color: #f4f4f4;
  color: #f5f5f5;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

/* header */
.header {
  background-color: #232228;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  height: 50vh;
  width: 100%;
  z-index: 3;
}

.navbar {
  height: 12vh;
  width: 60%;
  margin: 0 auto;
}

.header_content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
}

.header_content h1 {
  font-size: 3em;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.header_content hr {
  height: 0.1em;
  width: 5em;
  color: red;
  background-color: red;
  border: none;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 1em;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #f5f5f5;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #f5f5f5;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Articles */
.blog_list {
  background-color: #000000;
  width: 100%;
}

.blog_list section {
  color: #f5f5f5;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog_list section .blog_article {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.blog_list h6 {
  font-weight: 900;
  font-size: 1em;
  padding: 4em 0 1em;
}

.blog_list h1 {
  font-weight: 900;
  font-size: 2.5em;
  padding: 1em 0;
}

.blog_list .blog_details {
  padding: 1em 0;
  margin: 0 auto;
}

.blog_list .blog_details span {
  line-height: 5em;
  padding: 1.5em;
}

/* footer */
.footer {
  background-color: #232228;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  height: 20vh;
  width: 100%;
  z-index: 3;
  color: #f5f5f5;
}

.contacting {
  /* border-top: 1px solid #f5f5f5; */
  padding-top: 5em;
  text-align: center;
}

.contacting .contact_details {
  text-align: left;
}

.contacting .social_media {
  text-align: right;
}

.contacting hr {
  width: 60%;
}

.social_media i {
  padding: 0 0.3em;
}

/* hovering colors for social media icons */
.social_media a:hover:nth-child(1) {
  color: #79ddff;
}

.social_media a:hover:nth-child(2),
.social_media a:hover:nth-child(5) {
  color: #003cff;
}

.social_media a:hover:nth-child(3),
.social_media a:hover:nth-child(4) {
  color: #ff0000;
}

.contact_details,
.social_media {
  width: 30%;
  display: inline-block;
}
